<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6">
      <h1>Testergebnis für Covid-19</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Testnummer</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Bitte geben Sie Ihre persönliche Testnummer ein.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Geburtsdatum</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Ergebnisse einsehen</button>
      </form>
    </div>
  </div>
</div>
