<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-md-6">
      <h1>Testergebnis für Covid-19</h1>
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group">
          <label for="inputId">Identifikationsnummer</label>
          <input formControlName="inputId" id="inputId" type="text" class="form-control" aria-describedby="idHelp" required>
          <small id="idHelp" class="form-text text-muted">Bitte geben Sie Ihre persönliche Testnummer ein.</small>
        </div>
        <div class="form-group">
          <label for="inputLastname">Nachname</label>
          <input formControlName="inputLastname" type="text" class="form-control" id="inputLastname" required>
          <small id="lastnameHelp" class="form-text text-muted">Bitte geben Sie Ihren Nachnamen ein.</small>
        </div>
        <div class="form-group">
          <label for="inputBirthday">Geburtsdatum</label>
          <input formControlName="inputBirthday" type="date" class="form-control" id="inputBirthday" required>
          <small id="birthdayHelp" class="form-text text-muted">Bitte geben Sie Ihr Geburtsdatum (dd.mm.yyyy) ein.</small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid"><img *ngIf="loading" class="mr-1" src="assets/images/loader.svg" width="20px">Ergebnisse einsehen</button>
      </form>
    </div>
  </div>
</div>
